<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright © 2016-2017 Shawn Baker using the MIT License. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.frozen.testlibrary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogFilesActivity"
            android:label="@string/log_files"
            android:parentActivityName=".MainActivity" >
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ca.frozen.testlibrary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />

        </provider>
    </application>

</manifest>